/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");
/* color theme was taken from https://www.schemecolor.com/black-cream-off-white.php */

:root {
  /* colors */

  --raisin-black: #212121;
  --off-white: #faf9f6;
  --blonde: #ffeec4;
  --cobalt: #87a5e4;

  /* --white: #fff;
  --black: #000; */

  /* device % */
  --container-large-width: 88%;
  --container-mobile-width: 92%;

  /* transition */
  --transition: all 400ms ease;

  --image-gap: 16px;
  --num-cols: 3;
  --row-height: 400px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", Helvetica, sans-serif;
  background: var(--off-white);
  color: var(--raisin-black);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--raisin-black);
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--raisin-black);
}

a {
  color: var(--raisin-black);
  transition: var(--transition);
}

a:hover {
  color: var(--cobalt);
}

.container {
  width: var(--container-large-width);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* NAV BAR */

header {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
}

/* nav {
  height: 6rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
} */

/* nav class on scroll with js */

/* .window-scrolled {
  background: var(--off-white);
  border-bottom: 0.2rem solid var(--cobalt);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* only needed on tablets and phones */
.nav-button-toggle {
  display: none;
}

.logo {
  width: 7.5rem;
}

.nav-links {
  display: flex;
  gap: 4rem;
}

.nav-socials {
  display: flex;
  gap: 1rem;
}

.nav-socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(var(--off-white), var(--cobalt));
  border-radius: 0.5rem;
  color: var(--raisin-black);
  display: grid;
  place-items: center;
}

.nav-socials a :hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

/* HEADER */

.header-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.image-container {
  margin-left: 5rem;
  max-width: 100%;
  height: auto;
  flex: 1.1;
}

.text-and-contact {
  align-self: center;
  margin-right: 2rem;
  flex-wrap: wrap;
  flex: 1;
}

.subtext {
  margin-top: 2rem;
  opacity: 0.55;
}

/* Image Gallery */

.gallery-grid {
  box-sizing: border-box;
  padding: var(--image-gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--image-gap);
  margin-top: 15rem;
}

.gallery-grid > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .gallery-grid {
    --num-cols: 2;
    --row-height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .gallery-grid {
    --num-cols: 1;
    margin-top: 0%;
    place-items: center;
  }

  .gallery-grid > h1 {
    align-self: center;
  }
}
