@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");

:root {
  /* colors */
  --white: #fff;
  --black: #000;

  /* device % */
  --container-large-width: 88%;
  --container-mobile-width: 92%;

  /* transition */
  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

li {
  font-family: "Source Sans 3", Helvetica, sans-serif;
}
