/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");
/* color theme was taken from https://www.schemecolor.com/black-cream-off-white.php */
:root {
  /* colors */

  --raisin-black: #212121;
  --off-white: #faf9f6;
  --blonde: #ffeec4;
  --cobalt: #87a5e4;

  /* --white: #fff;
  --black: #000; */

  /* device % */
  --container-large-width: 88%;
  --container-mobile-width: 92%;

  /* transition */
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", Helvetica, sans-serif;
  background: var(--off-white);
  color: var(--raisin-black);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--raisin-black);
}

h2 {
  font-size: 3.5rem;
  color: var(--raisin-black);
}

a {
  color: var(--raisin-black);
  transition: var(--transition);
}

a:hover {
  color: var(--cobalt);
}

.container {
  width: var(--container-large-width);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* NAV BAR */

.nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* only needed on tablets and phones */
.nav-button-toggle {
  display: none;
}

.logo {
  width: 7.5rem;
  padding-top: 0.25rem;
}

.nav-links {
  display: flex;
  gap: 4rem;
}

.nav-socials {
  display: flex;
  gap: 1rem;
}

.nav-socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(var(--off-white), var(--cobalt));
  border-radius: 0.5rem;
  color: var(--raisin-black);
  display: grid;
  place-items: center;
}

.nav-socials a :hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
