.header-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  flex-wrap: row wrap;
}

.image-container {
  margin-left: 5rem;
  max-width: 100%;
  height: auto;
  flex: 1.1;
}

.text-and-contact {
  align-self: center;
  margin-right: 2rem;
  flex-wrap: wrap;
  flex: 1;
}

.subtext {
  margin-top: 2rem;
  opacity: 0.55;
}
