.gallery-grid {
  box-sizing: border-box;
  padding: var(--image-gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--image-gap);
  margin-top: 15rem;
}

.gallery-grid > img {
  width: 100%;
  height: 100%;
}
